<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Book Management</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        

        <div class="row container">
            <div class="col-md-1">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
            <div class="col-md-1">
                <a href="/" class="btn btn-warning">Home</a>
            </div>   
        </div>


        <div class="container p-5">
            <h1 class="text-center mb-5 text-uppercase text-muted">Cart</h1>
            <a class="custom" href='/viewcart'>View Cart</a>
            <div class="row">
                <div class="col-md-12 bg-light border rounded py-3" >
                  <div style="height: 400px; overflow: auto; width:100%">
                   <table class="table table-striped">
                      <thead>
                        <tr>
                          
                          <th scope="col">ISBN</th>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Quantity Bought</th>
                          <th scope="col">Price</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Action</th>
                          
                         
                         
                        </tr>
                      </thead>
                      <tbody>
    
                          <% cartbook.forEach((cartbook) => { %>
                            <tr>
                                


                                <form onsubmit="return confirm('Do you really want to Delete?');" name="myForm" action='/delete' method="POST">
                                  <td><%= cartbook.ISBN  %></td>
                                  <td><%= cartbook.title  %></td>
                                  <td><%= cartbook.authors  %></td>
                                  <td id="quantity"><%= cartbook.quantityBought  %></td>
                                  <td id="price"><%= cartbook.price  %></td>
                                  <td id="totalaAmt"><%= cartbook.totalAmt  %></td>
                                  <input type="hidden" name="ISBN" value="<%= cartbook.ISBN  %>" >
                                  <input type="hidden" name="quantityBought" value="<%= cartbook.quantityBought %>" >
                                  <input type="hidden" name="sellerId" value="<%= cartbook.sellerId%>" >
                                 
                                  <td><input type="submit" id="delete" class="btn btn-danger" value="Delete"/></td>
                                  
                              </form>
                              <form action='/updateCartBook' method='POST'>
                                <input type="hidden" name="ISBN" value="<%= cartbook.ISBN  %>" >
                                <input type="hidden" name="title" value="<%= cartbook.ISBN  %>" >
                                <input type="hidden" name="authors" value="<%= cartbook.ISBN  %>" >
                                <input type="hidden" name="quantityBought" value="<%= cartbook.quantityBought %>" >
                                <input type="hidden" name="sellerId" value="<%= cartbook.sellerId%>" >
                             
                              <td><input type="submit" id="update" class="btn btn-warning" value="Update"/></td>
                            </form>
                           </tr>
                           
                            <% }) %>
                       
                      </tbody>
                    </table>
                   </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        function show_alert() {
                if(!confirm("Do you really want to do this?")) {
                    return false;
                }
                else{
                this.form.submit();
                }
            }
    </script>

</html>